<%= form_with model:@schedule, local: true do |f|%>

  <div class="price-content">
    <div class="price-text">
      <span>運動時間</span>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :time, class:"price-input", id:"item-price", placeholder:"例）30" %>
    <span class="sell-yen">分</span>
  </div>

  <div class="price-content">
    <div class="price-text">
      <span>運動メニュー</span>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:menu_id, Menu.all, :id, :name, {}) %>
  </div>

  <div class="sell-btn-contents">
    <%= f.submit "記録する" ,class:"sell-btn" %>
  </div>

<% end %>